*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Chakra Petch', sans-serif;
}

body{
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.header{
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: space-around;
	padding: 0px 50px 0px 50px;
	width: 100%;
	top: 0;
	left: 0;
	transition: background-color 0.5s;
	z-index: 1;

}

.header .logo img{
	width: 100%;
}

.header .menu ul{
	list-style: none;
	display: flex;

}

.header .menu ul li{
	margin-left: 65px;
	text-align: center;
	position: relative;
}

.header .menu ul li a{
	text-decoration: none;
	color:  white;
	font-size: 20px;
	font-weight: 500;
}


.header .menu ul li::after{
	content: " ";
	width: 0%;
	position: absolute;
	height: 3px;
	background-color: #7CFC00;
	bottom: 0;
	left: 0;
	transition: 0.3s ease-in-out;

}


.header .menu ul li:hover::after{
	width: 100%;
}



::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar {
    width: 10px;
    background: #7CFC00;
}

::-webkit-scrollbar-thumb {
    background: #7CFC00;
    border-radius: 2px;
}



.container::before{
	content:"";
	background: url(imagens/container1.png) no-repeat center center/cover;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.container h2{
	
	color: white;
	font-size: 85px;
	text-align: center;
	padding-top: 0px;
	margin: 0;
	
}

.container h1{
	
	color: whitesmoke;
	font-size: 35px;
	text-align: center;
	padding-top: 250px;
	margin: 0;
	font-weight: 400;
	
}

.container p{
	
	color: whitesmoke;
	font-size: 50px;
	text-align: center;
	padding-top: 0px;
	margin: 0;
	font-weight: 400;
	
}




.container{
	position: relative;
	width: 100%;
	height: 720px;
	vertical-align: middle;
	justify-content: space-around;
	box-sizing: border-box;
	align-items: center;
	flex-wrap: wrap;
}

.active {
	background: black;
	opacity: 0.8;
}


.container h2::after{
	content: '';
	position: relative;
	border-right: 4px solid white;
	animation: piscar 700ms linear infinite;

}

@keyframes piscar{
	from{opacity: 0;}
	to{opacity: 1;}
}


.container2{
	position: relative;
	display: flex;
	background-color: white;
	width: 100%;
	max-width: 100%;
	justify-content: center;
	justify-items: center;
	height: 100%;
	align-items: center;
	padding-top: 200px;
	color: black;

}

.container2 .perfil{
	width: 80%
}

.container2 .foto{
	width: 20%;
}


.container2 .foto img{
	width: 250px;
	border-radius: 4px;

}

.container2 .itens-1 .row1{
	display: flex;
}